body {
  margin: 0;
  padding: 0;
  background: #0b1120;
  font-family: "Inter", sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #111827;
  padding: 30px 20px;
  border-right: 1px solid #1f2937;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #3b82f6;
}

.menu-item {
  padding: 14px 18px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: #d1d5db;
}

.menu-item:hover {
  background: #1e293b;
  color: white;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 30px;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.welcome {
  font-size: 28px;
  font-weight: bold;
}

.logout-btn {
  background: #ef4444;
  border: none;
  color: white;
  padding: 12px 22px;
  border-radius: 12px;
  cursor: pointer;
}

/* CARDS */
.cards-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.card-box {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 20px;
  padding: 25px;
  transition: 0.3s;
}

.card-box:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #9ca3af;
  margin-bottom: 10px;
}

.card-value {
  font-size: 34px;
  font-weight: bold;
}

.green {
  color: #22c55e;
}

.red {
  color: #ef4444;
}